
gtfslite/.DS_Store
gtfslite/__pycache__/gtfs.cpython-37.pyc
gtfslite/gtfs.py
tests/.DS_Store
tests/.ipynb_checkpoints/test_otp_cleanup-checkpoint.ipynb
tests/data/.DS_Store
tests/data/gtfs.zip
tests/data/gtfs/agency.txt
tests/data/gtfs/calendar.txt
tests/data/gtfs/calendar_attributes.txt
tests/data/gtfs/calendar_dates.txt
tests/data/gtfs/checkpoints.txt
tests/data/gtfs/directions.txt
tests/data/gtfs/facilities.txt
tests/data/gtfs/facilities_properties.txt
tests/data/gtfs/facilities_properties_definitions.txt
tests/data/gtfs/feed_info.txt
tests/data/gtfs/levels.txt
tests/data/gtfs/lines.txt
tests/data/gtfs/linked_datasets.txt
tests/data/gtfs/multi_route_trips.txt
tests/data/gtfs/pathways.txt
tests/data/gtfs/route_patterns.txt
tests/data/gtfs/routes.txt
tests/data/gtfs/shapes.txt
tests/data/gtfs/stop_times.txt
tests/data/gtfs/stops.txt
tests/data/gtfs/transfers.txt
tests/data/gtfs/trips.txt
tests/data/ttc.zip
tests/data/ttc/agency.txt
tests/data/ttc/calendar.txt
tests/data/ttc/calendar_dates.txt
tests/data/ttc/routes.txt
tests/data/ttc/shapes.txt
tests/data/ttc/stop_times.txt
tests/data/ttc/stops.txt
tests/data/ttc/trips.txt
tests/mbta.zip
tests/mbta/agency.txt
tests/mbta/calendar.txt
tests/mbta/calendar_dates.txt
tests/mbta/routes.txt
tests/mbta/shapes.txt
tests/mbta/stop_times.txt
tests/mbta/stops.txt
tests/mbta/trips.txt
tests/stops.txt
